In [2]:
#Import library
import pandas as pd
import numpy as np
import statsmodels
import patsy
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [8]:
df=pd.read_csv("dari 3 variabel.csv")
df

,Kota,Jumlah_Penduduk_Miskin,Angka_Harapan_Hidup,Pengangguran_Terbuka
0,Pacitan,80.82,71.94,2.28
1,Ponorogo,86.74,72.77,4.45
2,Trenggalek,81.06,73.75,4.11
3,Tulungagung,76.40,74.08,4.61
4,Blitar,108.55,73.52,3.82
5,Kediri,179.93,72.61,5.24
6,Malang,265.56,72.55,5.49
7,Lumajang,102.60,70.10,3.36
8,Jember,247.99,69.15,5.12
9,Banyuwangi,130.37,70.65,5.34
10,Bondowoso,110.24,66.74,4.13
11,Situbondo,83.74,69.13,3.85
12,Probolinggo,218.35,67.20,4.86
13,Pasuruan,151.43,70.23,6.24
14,Sidoarjo,127.05,74.04,10.97
15,Mojokerto,118.80,72.53,5.75
16,Jombang,125.94,72.40,7.48
17,Nganjuk,122.73,71.54,4.80
18,Madiun,78.30,71.38,4.80
19,Magetan,65.09,72.59,3.74
20,Ngawi,128.19,72.30,5.44
21,Bojonegoro,161.10,71.56,4.92
22,Tuban,187.13,71.43,4.81
23,Lamongan,164.68,72.40,5.13
24,Gresik,164.05,72.66,8.21
25,Bangkalan,204.00,70.18,8.77
26,Sampang,224.74,68.03,3.35
27,Pamekasan,129.41,67.58,3.49
28,Sumenep,220.23,71.41,2.84
29,Kota Kediri,22.19,74.02,6.21
30,Kota Blitar,11.10,73.75,6.68
31,Kota Malang,38.77,73.27,9.61
32,Kota Probolinggo,17.72,70.29,6.70
33,Kota Pasuruan,13.40,71.52,6.33
34,Kota Mojokerto,8.09,73.32,6.74
35,Kota Madiun,8.83,72.81,8.32
36,Kota Surabaya,145.67,74.18,9.79
37,Kota Batu,8.12,72.61,5.93

In [5]:
df.isnull().sum()

Kota                      0
Jumlah_Penduduk_Miskin    0
Angka_Harapan_Hidup       0
Pengangguran_Terbuka      0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Kota                    38 non-null     object
 1   Jumlah_Penduduk_Miskin  38 non-null     float64
 2   Angka_Harapan_Hidup     38 non-null     float64
 3   Pengangguran_Terbuka    38 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.1+ KB

In [16]:
feature_names=['Jumlah_Penduduk_Miskin','Pengangguran_Terbuka']
x=df[feature_names]
x
y=df.Angka_Harapan_Hidup

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=1)

In [18]:
from sklearn.linear_model import LinearRegression
Linreg=LinearRegression()

In [19]:
Linreg.fit(x_train,y_train)

LinearRegression()

In [20]:
y_pred=Linreg.predict(x_test)

In [21]:
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

1.8779361331383035

In [22]:
model=sm.OLS(y,x).fit()
predictions=model.predict(x)
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
========================================================================================
Dep. Variable:     Angka_Harapan_Hidup   R-squared (uncentered):                   0.928
Model:                             OLS   Adj. R-squared (uncentered):              0.924
Method:                  Least Squares   F-statistic:                              232.5
Date:                 Sat, 22 Jan 2022   Prob (F-statistic):                    2.60e-21
Time:                         19:20:30   Log-Likelihood:                         -166.23
No. Observations:                   38   AIC:                                      336.5
Df Residuals:                       36   BIC:                                      339.7
Df Model:                            2
Covariance Type:             nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Jumlah_Penduduk_Miskin     0.1493      0.037      3.992      0.000       0.073       0.225
Pengangguran_Terbuka       8.7296      0.854     10.219      0.000       6.997      10.462
==============================================================================
Omnibus:                        4.152   Durbin-Watson:                   1.350
Prob(Omnibus):                  0.125   Jarque-Bera (JB):                3.358
Skew:                          -0.727   Prob(JB):                        0.187
Kurtosis:                       3.078   Cond. No.                         36.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""